# Binaries
bin/
!vendor/premake/bin
bin-int/

# Zital files
*.log

# VS Files
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

#Directories
Zital/vendor/VulkanSDK
Zital-Editor/assets/cache
scripts/__pycache__