[submodule "Zital/Vendor/spdlog"]
	path = Zital/Vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Zital/Vendor/GLFW"]
	path = Zital/Vendor/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "Zital/Vendor/glm"]
	path = Zital/Vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Zital/Vendor/imgui"]
	path = Zital/Vendor/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "Zital/Vendor/yaml-cpp"]
	path = Zital/Vendor/yaml-cpp
	url = https://github.com/dwilliams2348/yaml-cpp